extends ./layout/index 

block siguiente 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar lectus elit, vel consectetur tellus aliquet vulputate. Nunc congue diam ac mauris consectetur convallis. Nulla hendrerit enim eget eros iaculis, dignissim mollis quam porta. Morbi suscipit quam at elementum efficitur. Pellentesque maximus, odio sit amet rutrum posuere, dolor erat ultricies odio, vel fermentum purus velit vitae ipsum. Suspendisse vel mollis augue. Nulla lacinia fringilla feugiat. Donec viverra dictum nunc, sit amet molestie massa. Sed nec luctus libero, id sollicitudin diam. 

                p luctus ex eget mattis gravida. Vivamus nec elit arcu. Vivamus porta lorem a nibh maximus gravida nec id augue. Cras erat sem, hendrerit eget enim ac, rhoncus sodales justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed lorem nunc, vulputate vulputate ligula eu, sagittis porttitor elit. Ut lectus nunc, pretium et quam in, faucibus malesuada mauris.

                p ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere cursus vehicula. Aliquam mollis lectus a odio tincidunt vehicula. Vivamus rhoncus massa eget neque convallis, vitae dignissim magna aliquet. Nam consectetur vel lacus id placerat. Curabitur laoreet lectus eget quam scelerisque aliquet. Mauris congue porta viverra. Vestibulum eros libero, malesuada et accumsan ac, bibendum id felis. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Curabitur laoreet lectus eget quam scelerisque aliquet. Mauris congue porta viverra. Vestibulum eros libero, malesuada et accumsan ac, bibendum id felis.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Curabitur laoreet lectus eget quam scelerisque aliquet. Mauris congue porta viverra. Vestibulum eros libero, malesuada et accumsan ac, bibendum id felis.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Curabitur laoreet lectus eget quam scelerisque aliquet. Mauris congue porta viverra. Vestibulum eros libero, malesuada et accumsan ac, bibendum id felis.